//Our colors

$niyujcolor: #31c3F4;
$nblue1: #107B9F;//darkest
$nblue2: #499CB7;
$nblue3: #64D4FA;
$nblue4: #8CDEFA;//lightest
$nyelmain: #FFC12B;
$nyel1: #FFD060;
$nyel2: #FFDD8B; //lightest
$nyel3: #BF9C48;
$nyel4: #A6790E;//darkest
$norngmain: #FF4C2B;
$norng1: #FF9D8B; //lightest
$norng2: #FF7960;
$norng3: #BF5B48;
$norng4: #A6260E;//darkest
